*, *:before, *:after {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  box-sizing: border-box;
}

html{
	font-family: "sofia-pro", sans-serif;
	font-weight: lighter;
	font-size: 16px;
	line-height: 1.5em;
	color: #696969;
	text-rendering: optimizeLegibility;
 	font-smoothing: antialiased;
}

	@media (min-width: 700px) {
		html{
			font-size: 18px;
		}
	}

	@media (min-width: 1000px) {
		html{
			font-size: 20px;
		}
	}

body{
	background: white;
}

main{
	overflow: hidden;
	position: relative;
}

.intro__section{
	margin: 7.5rem 0 10rem;
}
	@media (min-width: 600px) {
		.intro__section{
			margin-top: 2.5em;
		}
	}

	@media (min-width: 1000px) {
		.intro__section{
			margin: 0 0 12.5em;
		}
	}

section{
	position: relative;
	z-index: 0;
}

footer{
	padding: 3em 0 10em;
	background: rgba(179, 179, 179, 0.1);
	text-align: center;
}

.key-section,
.question-section{
	margin-top: 3.5em;
}

a{
	color: #ff6669;
}
	a:hover,
	a:focus{
		color: #52CBC9;
	}
	.hushed a,
	.pricing__table a{
		text-decoration: none;
		color: inherit;
	}
		.pricing__table a:hover,
		.pricing__table a:focus{
			color: #ff6669;
		}

.hushed{
	opacity: .8;
	font-size: .8em;
}

h1, h2, h3{
	font-family: "kepler-std-display", serif;
	font-style: italic;
	line-height: 1em;
	margin: 0;
}

h1{
	font-size: 5rem;
	line-height: .9em;
	padding-top: .5em;
}
	.logo h1{
		padding: 0;
		line-height: 0;
	}

h2{
	font-size: 2.5rem;
	color: #2fbab7;
}

	.pricing__table h2{
		font-size: 2rem;
	}

h3{
	font-size: 1.5rem;
	color: #b3b3b3;
	margin-top: .5em;
}
	.logo h3{
		font-family: "sofia-pro", sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 1em;
		line-height: 1.3em;
		margin: 1em 0 0 .25em;
	}

.pricing__header p{
	margin: 8em 0;
	color: white;
	font-weight: bold;
}
	@media (min-width: 400px) {
		.pricing__header p{
			margin: 12em 0;
		}
	}
	@media (min-width: 600px) {
		.pricing__header p{
			font-weight: normal;
		}
	}

.pricing__header .logo{
	margin-top: 3em;
}

.pricing__table ul{
	padding: 0;
	list-style-type: none;
	font-weight: bold;
}

.pricing__table a{
	display: block;
	width: auto;
	padding: .25em .5em;
	margin: .25em 0;
	border-radius: 100px;
	background: rgba(179, 179, 179, 0.1);
	transition: all .2s ease;
}
	.pricing__table a:hover,
	.pricing__table a:focus{
		background: rgba(255, 102, 105, 0.1);
	}

input{
	box-sizing: border-box;
	width: 100%;
	margin-bottom: .5em;
	padding: 1em;
	text-align: center;
	border-radius: 50px;
	border: 2px solid #b3b3b3;
	outline: none;
	transition: border .3s ease-in;
}
	input:focus,
	input:active{
		border-color: #ff6669;
	}

input[type='submit']{
	background: #ff6669;
	color: white;
	font-weight: bolder;
	border-color: #ff6669;
	transition: all .3s ease-in;
}
	input[type='submit']:hover{
		background: rgba(255, 102, 105, 0.1);
		color: #ff6669;
	}

.cta-circle__link{
	display: block;
	text-decoration: none;
}

.cta-circle{
	height: 20em;
	width: 20em;
	background: #ff6669;
	color: white;
	border-radius: 100%;
	margin: 2.5em auto 4em;
	animation: pulse 1.5s ease-in-out alternate infinite;
}
	@keyframes pulse {
    	from { transform: scale(1); }
    	to   { transform: scale(.95);}
	}

.cta-circle span{
	text-align: center;
	font-size: 2em;
	line-height: 1em;
	font-weight: bold;
	display: block;
	margin: 0 auto;
	position: relative;
	top: 40%;
}

svg > *{
	mix-blend-mode: multiply;
}

.red{
	fill: #FE6669;
}

.blue{
	fill: #52CBC9;
}

.dollar,
.key,
.question{
	position: absolute;
	z-index: -1;
	top: 50%;
	left: 50%;
	opacity: .1;
	transform: translate(-50%,-50%);
	width: 165%;
	max-height: 400px;
	background: white;
	animation: 1s ease;
}
	@media (min-width: 600px) {
		.dollar,
		.key,
		.question{
			position: static;
			width: 90%;
			opacity: 0;
			transform: none;
		}
	}

.idea,
.fundraising,
.post-funding{
	width: 40%;
	height: 100px;
	display: block;
	margin: 2em auto 1.5em;
	background: white;
}

.checklist-cta{
	padding-top: 7.5em;
	padding-bottom: 7.5em;
}
	@media (min-width: 800px) {
		.checklist-cta{
			padding-top: 12.5em;
			padding-bottom: 12.5em;
		}
	}

.checklist-cta__bg{
	position: absolute;
	opacity: 0;
	background: white;
	transform: all 2s ease;
}
	@media (min-width: 800px) {
		.checklist-cta__bg{
			position: absolute;
			z-index: -1;
			opacity: .1;
			width: 200%;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}

.checklist-cta__bg > *{
	animation: 15s ease infinite;
}

.pricing__art--intro,
.main__art--footer{
	position: absolute;
	z-index: -1;
	background: #fff;
	mix-blend-mode: multiply;
	background-blend-mode: multiply;
}

.main__art--footer{
	bottom: -4em;
	width: 100%;
	left: 50%;
  	transform: translateX(-50%);
}
	@media (min-width: 600px) {
		.main__art--footer{
			bottom: -8em;
		}
	}
	@media (min-width: 1000px) {
		.main__art--footer{
			bottom: -12em;
		}
	}

.pricing__art--intro{
	width: 400%;
	min-width: 1000px;
  	top: -6em;
	left: 30%;
	transform: translateX(-50%);
}
	@media (min-width: 400px) {
		.pricing__art--intro{
			top: -4em;
		}
	}
	@media (min-width: 500px) {
		.pricing__art--intro{
			top: -7em;
		}
	}
	@media (min-width: 600px) {
		.pricing__art--intro{
			top: 2.5em;
			left: 40%;
		}
	}
	@media (min-width: 700px) {
		.pricing__art--intro{
			top: 3em;
		}
	}
	@media (min-width: 800px) {
		.pricing__art--intro{
			top: 0em;
		}
	}
	@media (min-width: 900px) {
		.pricing__art--intro{
			top: -4em;
		}
	}
	@media (min-width: 1000px) {
		.pricing__art--intro{
			top: -3em;
			left: 45%;
		}
	}
	@media (min-width: 1100px) {
		.pricing__art--intro{
			top: -5em;
			left: 45%;
		}
	}

.pricing__art--intro.is--floating > *{
	transform-origin: center center;
	animation: float linear infinite;
}
	.is--floating > .blue{
		animation-duration: 10s;
	}
	.is--floating > .red{
		animation-duration: 8s;
	}

.intro{
	position: relative;
}

.intro__title,
.intro__section > *{
	color: white;
}

.intro__title{
	max-width: 300px;
}
	@media (min-width: 1000px) {
		.intro__title{
			max-width: 350px;
		}
	}

.intro__section{
	max-width: 250px;
}
	@media (min-width: 600px) {
		.intro__section{
			max-width: none;
		}
	}

.intro__circle--title,
.intro__circle--section,
.intro__circle--dec{
	position: absolute;
	border-radius: 100%;
	z-index: -1;
	mix-blend-mode: multiply;
	background-blend-mode: multiply;
}

.intro__circle--title{
	width: 31rem;
	padding-bottom: 31rem;
	top: -7.5em;
	left: -12.5em;
	background: #52CBC9;
	animation: 15s ease infinite;
}
	@media (min-width: 1000px) {
		.intro__circle--title{
			left: -7.5em;
		}
	}

.intro__circle--section{
	width: 35rem;
	padding-bottom: 35rem;
	top: 18em;
	right: -2em;
	background: #FE6669;
	animation-name: inherit;
	animation: 12.5s ease infinite;
}
	@media (min-width: 400px) {
		.intro__circle--section{
			right: 0;
		}
	}
	@media (min-width: 600px) {
		.intro__circle--section{
			top: 12em;
			right: -7.5em;
		}
	}
	@media (min-width: 800px) {
		.intro__circle--section{
			width: 37.5rem;
			padding-bottom: 37.5rem;
			top: 8em;
			right: -5em;
		}
	}
	@media (min-width: 1000px) {
		.intro__circle--section{
			width: 40rem;
			padding-bottom: 40rem;
			top: 5em;
			right: -7.5em;
		}
	}

.intro__circle--dec{
	width: 32.5rem;
	padding-bottom: 32.5rem;
	top: -30em;
	left: 15%;
	background: #FE6669;
	animation: 10s ease infinite;
}

.preview{
	position: fixed;
	top: 0; left: 0; bottom: 0; right: 0;
	background: rgba(255, 255, 255, 0.9);
	z-index: 10;
	transition: all .3s ease;
}

.is--hidden{
	transform: translateY(-100%);
	background: rgba(255, 255, 255, 0);
}

.preview__img{
	position: absolute;
	max-width: 95vw;
	max-height: 95vh;
	display: block;
	margin: 0 auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.preview__close-btn{
	position: absolute;
	bottom: 1em;
	right: 1em;
	height: 10vw;
	width: 10vw;
	min-width: 40px;
	min-height: 40px;
	max-width: 80px;
	max-height: 80px;
	background: #ff6669;
	color: white;
	border: 3px solid white;
	padding: .5em 1em;
	border-radius: 80px;
	font-weight: 600;
	z-index: 11;
}
	.preview__close-btn:before,
	.preview__close-btn:after{
		content: '';
		display: block;
		position: absolute;
		background: white;
		top: 50%;
		left: 50%;
		height: 5px;
		width: 50%;
		border-radius: 100px;
	}
	.preview__close-btn:before{
		transform: translate(-50%, -50%) rotate(45deg);
	}
	.preview__close-btn:after{
		transform: translate(-50%, -50%) rotate(-45deg);
	}
	@media (min-width: 600px) {
		.preview__close-btn{
			top: 1em;
			bottom: auto;
		}
	}


.is--floating,
.is--floating > *{
	animation-name: float;

}
	@keyframes float {
    	from { transform: rotate(0deg) translateX(2%) rotate(0deg); }
    	to   { transform: rotate(360deg) translateX(2%) rotate(-360deg); }
	}
	
@media (min-width: 600px) {
	.is--animated{
		animation-name: fade-in;
		opacity: 1;
	}
}	
	@keyframes fade-in {
    	from { opacity: 0; transform: translateY(3em); }
    	to   { opacity: 1; transform: translateY(0);}
	}

