<section class="checklist-cta container">
	<div>
		<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="477.1 -380.5 4107.2 1762" style="enable-background:new 477.1 -380.5 4107.2 1762;" xml:space="preserve" class="checklist-cta__bg">
			<style type="text/css">
				.st0{fill:none;stroke:#52CCCA;stroke-width:21;}
				.st1{fill:none;stroke:#FF6669;stroke-width:21;}
				.st2{fill:none;stroke:#B3B3B3;stroke-width:21;}
			</style>
			<circle class="st0" cx="3275.5" cy="-16" r="278.5"/>
			<circle class="st1" cx="3452.5" cy="888" r="278.5"/>
			<circle class="st1" cx="787.4" cy="864.3" r="278.5"/>
			<circle class="st2" cx="3952.5" cy="260" r="609.5"/>
			<circle class="st2" cx="1670.8" cy="115.3" r="278.5"/>
			<circle class="st0" cx="1392.1" cy="710.8" r="516.5"/>
			<circle class="st1" cx="2530.7" cy="499.5" r="778"/>
		</svg>
	</div>
	<div class="one-half column offset-by-three">
		<h2>Get the free Starter Design Checklist</h2>
		<p>
		Just type in a valid email, hit submit, and we’ll send a PDF version of the Starter Design Checklist outlining the important design assets every startup needs.
		</p>
		<form>
			<input type='email' placeholder='email@domain.com'>
			<input type='submit' value='Get your free checklist!'>
		</form>
	</div>
</section>

