<section class="checklist-cta container">
	<div class="one-half column offset-by-three">
		<a href="https://s3.amazonaws.com/starter.design/assets/starter_design_checklist.pdf" class='cta-circle__link' target="_blank" onclick="ga('send', 'event', 'download', 'click', 'checklist');">
			<div class='cta-circle'>
			  <span>Download your<br>free checklist!</span>
			</div>
		</a>
		<div class="cta__form cta__form--hidden">
			<h2>Thanks for downloading!</h2>
			<p>
				If you found the <strong>Starter Design Checklist</strong> valuable and would like to see more from us in the future, sign up for our newsletter below. 
				<br><br>Thanks again,
				<br>Andrew & Kevin
			</p>
			<div id="mc_embed_signup">
				<form action="//unfold.us8.list-manage.com/subscribe/post?u=cb388a02c76af421ba56300e8&amp;id=65d6c064e0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
				    <div id="mc_embed_signup_scroll">
						<div class="mc-field-group">
							<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder='email@domain.com' onclick="ga('send', 'event', 'input', 'click', 'checklist-email');">
						</div>
						<div id="mce-responses" class="clear">
							<div class="response" id="mce-error-response" style="display:none"></div>
							<div class="response" id="mce-success-response" style="display:none"></div>
						</div>
					    <div style="position: absolute; left: -5000px;">
					    	<input type="text" name="b_cb388a02c76af421ba56300e8_65d6c064e0" tabindex="-1" value="">
					    </div>
					    <div class="clear">
					    	<input type="submit" value="Subscribe to the newsletter!" name="subscribe" id="mc-embedded-subscribe" class="button" onclick="ga('send', 'event', 'button', 'click', 'checklist-btn');">
					    </div>
				    </div>
				</form>
			</div>
		</div>
	</div>
</section>

