<footer>
<div class="container">
	<div class="one-half column offset-by-three">
		<h3>Who are you?</h3>
		<p>
			Starter is a design studio helping startups and small businesses realize the impact of great design. We offer free <a href="/consult">consultations</a> and <a href="/checklist">resources</a> to make that possible. Feel free to <a href="mailto:contact@starter.design">contact us</a> anytime :)
		</p>
		<p class="hushed">© 2015 <a href="http://trim.media">Trim Media LLC</a></p>
	</div>
</div>
</footer>