<script type="text/javascript">
	var isAnimated         = 'is--animated'
	    isFloating         = 'is--floating';

	var didScroll = false;

	function checkScroll() {
	    didScroll = true;
	}

	setInterval(function() {
	    if(didScroll) {
	        didScroll = false;
	        toggleAnimation();
	    }
	}, 200);

	function isInViewport(e){
		return window.pageYOffset > e.top - (window.innerHeight * .75) && window.pageYOffset < e.bottom;
	}

	window.addEventListener('scroll', checkScroll);
</script>